# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react_recap/node_modules
react_recap/.pnp
react_recap.pnp.js

# testing
react_recap/coverage

# production
react_recap/build

# misc
react_recap.DS_Store
react_recap.env.local
react_recap.env.development.local
react_recap.env.test.local
react_recap.env.production.local

react_recapnpm-debug.log*
react_recapyarn-debug.log*
react_recapyarn-error.log*
